:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .answer {
    border-radius: 16px;
    padding: 8px 16px;
    font-size: 24px;
    border: 1px solid #ccc;
  }
}
