:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    background-color: #4cbf32;
    font-weight: 600;
    color: white;
    transition: all 0.2s;
    font-size: 24px;

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-color: #1f8b06;
    }

    &:active {
      box-shadow: 0px -8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-color: #1f8b06;
      position: relative;
      top: 4px;
    }
  }
}

