:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    width: 80%;
    height: 200px;
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    background-color: #5aa9ff;
    font-weight: 500;
    color: #0f1a28;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.1s ease;
    font-size: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    &:hover {
      background-color: #76b7ff;
      box-shadow: 0 8px 18px rgba(0, 0, 0, 0.35);
    }

    &:active {
      background-color: #3f93f0;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
      transform: translateY(4px);
    }
  }
}

