@use "styles/reset";
@use "styles/fonts";
@use "styles/variables" as variables;

/*TODO: Temp styles. Remove it when make adaptivity*/
body {
  max-width: 767px;
  margin: 0 auto;
  outline: 1px solid white;
}

html, body, button, input {
  font-family: roboto-var, sans-serif, system-ui;
}

html, body {
  color: #ffffff;
  background-color: #2c2c2c;
  font-size: variables.$app-base-font-size;
}

button {
  font-family: inherit;
  cursor: pointer;
  font-size: variables.$app-base-font-size;
}
