@use "styles/reset";
@use "styles/variables" as variables;

html, body {
  color: #ffffff;
  background-color: #2c2c2c;
  font-size: variables.$app-base-font-size;
}

button {
  cursor: pointer;
  font-size: variables.$app-base-font-size;
}
