@use "styles/reset";
@use "styles/variables" as variables;
@use "styles/fonts";

html, body {
  font-family: roboto-var, sans-serif, system-ui;
  color: #ffffff;
  background-color: #2c2c2c;
  font-size: variables.$app-base-font-size;
}

button {
  font-family: inherit;
  cursor: pointer;
  font-size: variables.$app-base-font-size;
}
